.botonScroll {
    font-size: 35px;
    color: white;
    height: 45px;
    width: 45px;
    bottom: 25px;
    right: 35px;
    background: #e4002b;
    border-radius: 50%;
    z-index: 2;
    transition: 300ms all ease;
}

.botonScroll:hover {
    cursor: pointer;
    transform: translateY(-10%);
    background: #cc0000;
    color: white;
}