.container {
    height: 40px;
    width: 100%;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 3;
}
.container__Pre_NavBar {
    color: #495057;
    height: 110px;
}

/* Contenedor de la PreNavBar */
.container__Pre_NavBar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 100%;
    color: #495057;
}
.pre__NavBar {
    width: 100%;
}
.container__Language_Phone_Lines {
    height: 40px;
}
.container__Language {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 40px;
}
.container__Icon_Language {
    height: 20px;
    width: 20px;
}
.text__Language {
    width: 60px;
}

/* MENU DE SELECCION DEL IDIOMA */
.dropdown__Language {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    background: white;
    z-index: 1;
    top: 10px;
    left: 90px;
}
.language__Button {
    cursor: pointer;
    color: #495057;
}
.language__Button:hover {
    color: #e4002b;
}
.language__Selected {
    font-weight: 600;
    color: #e4002b;
}
.container__Phone_Lines {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 40px;
}
.home {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 40px;
    font-weight: 600;
    color: #e4002b;
}
.home:hover {
    background: #e4002b;
    color: #fff;
}

/* LINKS DE INTERACCIONES */
.links__Nemu_Interactions {
    height: 40px;
}
.panel {
    font-weight: 400;
    color: #495057;
    height: 40px;
}
.panel:hover {
    color: #e4002b;
}
.icon__User_Panel {
    margin: 0 -5px 0 0;
    font-size: 25px;
}

/* Contenedor del Login */
.logout {
    font-weight: 600;
    color: #e4002b;
    padding: 0 0 0 10px;
    height: 40px;
}
.logout:hover {
    cursor: pointer;
}
.login {
    font-weight: 600;
    height: 40px;
    color: #e4002b;
    padding: 0 0 0 15px;
}
.icon__User {
    font-size: 25px;
    color: #e4002b;
    margin: 0 -5px 0 0;
}