.social__Network_Landgin {
    height: 45px;
    width: 45px;
    bottom: 140px;
    right: 39px;
    z-index: 2;
    transition: 300ms all ease;
}
.social__Network_Landgin:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(10deg);
}
.social__Network {
    height: 55px;
    width: 55px;
}