* {
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #e4002b;
}

/* NOTIFICACIONES */
.notification__Container {
    position: fixed;
    bottom: 80px;
    right: 100px;
    z-index: 1000;
}